name: Run Postman Collection

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      # Optional: HTML report
       - name: Install HTML reporter
         run: npm install -g newman-reporter-htmlextra

      - name: Run Postman Collection
        run: |
          newman run postman/collections/17604848-08a6ecbd-2cc1-42b6-a387-4582297bb5f0.json \
            --environment postman/collections/New_Environment.postman_environment.json \
            --reporters cli,json \
            --reporter-json-export newman-report.json

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman-report.json
